configuration {
  terminal: "kitty";
  modi: "combi,window,drun";
  combi-modi: "drun,window";
  font: "Noto Sans Bold 10";
  show-icons: true;
  icon-theme: "Tela circle dark";
  combi-hide-mode-prefix: true;
  drun-show-actions: true;
  drun-display-format: "{name}";
  disable-history: false;
  fullscreen: false;
  hide-scrollbar: true;
  sidebar-mode: false;
  auto-select: false;
  theme: "~/sway/configs/rofi/themes/doom-one.rasi";
}
