[submodule "builds/Waybar"]
	path = builds/Waybar
	url = git@github.com:luispabon/Waybar.git
[submodule "Swytch"]
	path = Swytch
	url = git@github.com:wilecoyote2015/Swytch.git
[submodule "sys-admin"]
	path = sys-admin
	url = git@gitlab.com:formigoni/sys-admin.git
[submodule "builds/mako"]
	path = builds/mako
	url = git@github.com:luispabon/mako.git
