---
- name: Install configs into ~/.config
  become_user: "{{ user.name }}"
  become: true
  block:
    - name: Create ~/.config folder
      file:
        path: ~/.config
        state: directory
        mode: '0755'

    - name: Find all dotfiles to link
      find:
        paths: assets/config
        file_type: any
      register: dotfiles

    - name: Create symlinks to ~/.config
      file:
        src: "{{ item.path }}"
        path: "~/.config/{{ item.path | basename }}"
        state: link
      with_items: "{{ dotfiles.files }}"

- name: Background images
  become_user: "{{ user.name }}"
  become: true
  block:
    - name: Create ~/Pictures folder
      file:
        path: ~/Pictures
        state: directory
        mode: '0755'

    - name: Install background images
      file:
        src: assets/backgrounds
        path: ~/Pictures/backgrounds
        state: link

- name: Fonts
  become_user: "{{ user.name }}"
  become: true
  block:
    - name: Create fonts folder
      file:
        path: ~/.local/share/fonts
        state: directory
        mode: '0755'

    - name: Find all fonts to link
      find:
        paths: assets/fonts
        file_type: file
      register: fonts

    - name: Symlink fonts
      file:
        src: "{{ item.path }}"
        path: "~/.local/share/fonts/{{ item.path | basename }}"
        state: link
      with_items: "{{ fonts.files }}"

- name: Brightness
  block:
    - name: Add bightnessctl udev rules
      become: true
      copy:
        src: assets/misc/90-brightnessctl.rules
        dest: /etc/udev/rules.d/90-brightnessctl.rules

    - name: Add user to video group
      become: true
      user:
        name: "{{ user.name }}"
        append: yes
        groups:
          - video
