[Unit]
Description=Apply XPS powersave settings

[Timer]
Unit=xps-powersave.service

# Wait after boot before first applying
OnBootSec=2min

# Run every 30 seconds
OnUnitActiveSec=300

[Install]
WantedBy=multi-user.target
