/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1E1F29FF;
    background-alt: #282A36FF;
    foreground:     #FFFFFFFF;
    selected:       #5f27cdFF;
    active:         rgb(54, 24, 116);
    urgent:         rgb(138, 49, 49);
}
