[Unit]
Description=Restart Gnome Online Accounts after resume
After=suspend.target
After=network.target

[Service]
User=luis
Type=simple
ExecStartPre=/usr/bin/nm-online -t 120
ExecStart=/usr/libexec/goa-daemon --replace
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"

[Install]
WantedBy=suspend.target
