[Desktop Entry]
Version=1.0
Name=Google Chrome (unstable)
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
Comment=Wayland version
Comment[en_GB]=Wayland version
Comment[es]=Accede a Internet.
Exec=/usr/bin/google-chrome-unstable --enable-features=UseOzonePlatform --ozone-platform=wayland %U
StartupNotify=true
Terminal=false
Icon=google-chrome-unstable
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Name[es]=Nueva ventana
Exec=/usr/bin/google-chrome-unstable  --enable-features=UseOzonePlatform --ozone-platform=wayland

[Desktop Action new-private-window]
Name=New Incognito Window
Name[en_GB]=New Incognito window
Name[es]=Nueva ventana de incógnito
Exec=/usr/bin/google-chrome-unstable  --enable-features=UseOzonePlatform --ozone-platform=wayland --incognito
