[Unit]
Description=Apply undervolt settings

[Timer]
Unit=undervolt.service

# Wait after boot before first applying
OnBootSec=2min

# Run every 30 seconds
OnUnitActiveSec=300

[Install]
WantedBy=multi-user.target
