- name: Install utils & apps
  become: true
  apt:
    state: present
    pkg:
      - ack
      - bash
      - ca-certificates
      - cron
      - curl
      - direnv
      - gpg
      - jq
      - git
      - htop
      - make
      - moreutils
      - nano
      - neofetch
      - pulseadio
      - python3-pip
      - snapd
      - software-properties-common
      - units
      - wget

- name: Install desktop building blocks
  become: true
  apt:
    state: present
    install_recommends: false
    pkg:
      - brightnessctl
      - fonts-noto-core
      - grim
      - network-manager-gnome
      - playerctl
      - rofi
      - slurp
      - wl-clipboard
      - wmctrl
      - xdotool

- name: Install desktop apps (apt, with recommends)
  become: true
  apt:
    state: present
    pkg:
      - blueman
      - evolution
      - fonts-noto-core
      - grub-customizer

- name: Install desktop apps (apt, non-recommends)
  become: true
  apt:
    state: present
    install_recommends: false
    pkg:
      - gdm3
      - gnome-control-center
      - gnome-calendar
      - gnome-editor
      - gnome-online-accounts
      - gnome-terminal
      - gnome-tweaks
      - golang-go
      - libreoffice
      - nautilus
      - slack
      - xwayland
      - yarnpk

- name: Install snap apps (default channel; strict confinement)
  become: true
  snap:
    state: present
    name:
      - authy
      - retroarch
      - spotify
      - youtube-dl
      - zoom-client

- name: Install Chromium
  become: true
  snap:
    state: present
    classic: true
    channel: latest/edge
    name:
      - chromium

- name: Install Google Chrome (nightly)
  become: true
  apt:
    state: present
    deb: https://dl.google.com/linux/direct/google-chrome-unstable_current_amd64.deb

- name: Azote
  become: true
  block:
    - name: Add azote PPA
      command: |
        echo 'deb http://download.opensuse.org/repositories/home:/Head_on_a_Stick:/azote/xUbuntu_20.04/ /' | tee /etc/apt/sources.list.d/azote.list
        curl -fsSL https://download.opensuse.org/repositories/home:Head_on_a_Stick:azote/xUbuntu_20.04/Release.key | gpg --dearmor | tee /etc/apt/trusted.gpg.d/home_Head_on_a_Stick_azote.gpg > /dev/null
      args:
        creates: /etc/apt/sources.list.d/azote.list

    - name: Install azote
      apt:
        update_cache: true
        pkg:
          - azote

- name: Firefox beta from mozilla's PPA (not snap)
  become: true
  block:
    - name: Ensure the PPA has the priority over the system package
      become: true
      blockinfile:
        path: /etc/apt/preferences.d/firefox-apt-ppa
        block: |
          Package: firefox
          Pin: release o=LP-PPA-mozillateam-firefox-next
          Pin-Priority: 1000

    - name: Add Mozilla PPA
      apt_repository:
        repo: ppa:mozillateam/firefox-next

    - name: Install firefox
      apt:
        state: present
        pkg: firefox

- name: Firefox Nightly
  become: true
  block:
    - name: Add Mozilla Nightly PPA
      apt_repository:
        repo: ppa:ubuntu-mozilla-daily/ppa
    - name: Install firefox-trunk
      apt:
        state: present
        pkg: firefox-trunk

- name: Ulauncher
  become: true
  block:
    - name: Add Ulauncher PPA
      apt_repository:
        repo: ppa:agornostal/ulauncher
        codename: hirsute
    - name: Install ulauncher
      apt:
        state: present
        pkg: ulauncher

- name: Solaar (Logitech devices)
  become: true
  block:
    - name: Add Solaar PPA
      apt_repository:
        repo: ppa:solaar-unifying/stable
    - name: Install solaar
      apt:
        state: present
        pkg: solaar
